.day{
  height: 100%;
  .cal-cell-top{
    text-align: left;
    font-weight: bold;
  }
  
}
.day-weekend{
  background-color: rgb(226, 224, 224);
  .cal-cell-top{
    color: blue;
    }
}

.day-disabled{
  .cal-cell-top{
  color: gray;
  }
}
